.about__title {
  text-align:       center;
  font-size:        3.2rem;
  margin-top:       24px;
  margin-bottom:    48px;
  color:            var(--ultramarine-blue);
}
.about__content {
  max-width:        600px;
  font-size:        1.6rem;
  margin:           0 auto;
  font-weight:      lighter;
  text-align:       justify;
  color:            var(--ghost-white);
}
.skills__container {
  gap:              24px;
  max-width:        600px;
  margin-top:       100px;
  padding:          24px;
  border-radius:    16px;
  display:          flex;
  flex-wrap:        wrap;
  margin:           0 auto;
  align-items:      center;
  justify-content:  center;
  width:            fit-content;
  border:           2px solid var(--ultramarine-blue);
}