.about__logo {
  width: 75%;
  min-width: 200px;
  max-width: 375px;
  margin-top: 48px;
}
.about__title {
  font-size: 3.2rem;
  margin: 64px 0 48px;
  color: var(--primary-color);
}
.about__info {
  max-width: 600px;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: justify;
  color: var(--white);
}
.skills__container {
  gap: 24px;
  max-width: 600px;
  padding: 24px;
  border-radius: 16px;
  border: 2px solid var(--primary-color);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
