::placeholder {
  color:            var(--gray);
  font-family:      Outfit, sans-serif;
}
.contact__form {
  display:          flex;
  align-items:      stretch;
  flex-direction:   column;
}
.contact__title {
  font-weight:      500;
  font-size:        3.2rem;
  margin:           24px 0;
  text-align:       center;
  color:            var(--primary-color);
}
.contact__label {
  width:            100%;
  display:          block;
  margin:           8px auto;
  color:            var(--white);
}
.contact__input {
  padding:          8px;
  width:            100%;
  margin-top:       4px;
  border-radius:    12px;
  font-weight:      400;
  display:          block;
  font-size:        1.6rem;
  font-family:      Outfit, sans-serif;
}
.contact__message {
  min-height: 150px;
}
.contact__button {
  display:          block;
  margin:           12px auto;
  width:            120px;
  height:           32px;
  font-size:        1.6rem;
  font-weight:      500;
  border-radius:    16px;
  text-transform:   uppercase;
  color:            var(--white);
  background-color: var(--primary-color);
  font-family: Outfit, sans-serif;
}
.contact__footer {
  padding:          8px 24px;
  border-radius:    12px;
  display:          flex;
  align-items:      center;
  justify-content:  center;
  width:            fit-content;
  margin:           0 auto 24px;
  border:           2px solid var(--primary-color);
}
.footer__list {
  gap:              8px;
  display:          flex;
  align-items:      center;
  justify-content:  center;
}