@import './global.scss';

::placeholder {
  color: $gray;
}
.contact {
  &__form {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  &__title {
    font-weight: 500;
    font-size: 3.2rem;
    margin: 24px 0;
    text-align: center;
    color: $ultramarine;
  }
  &__label {
    width: 100%;
    display: block;
    margin: 8px auto;
    color: var(--text);
  }
  &__input {
    padding: 8px;
    width: 100%;
    margin-top: 4px;
    border-radius: 12px;
    font-weight: 400;
    display: block;
    font-size: 1.6rem;
    border: 1px solid $gray;
  }
  &__message {
    min-height: 150px;
    resize: none;
  }
  &__button {
    display: block;
    margin: 12px auto;
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 12px;
    text-transform: uppercase;
    color: $white;
    background-color: $ultramarine;
    transition: 0.4s ease;
    border: 1px solid transparent;

    &:hover {
      background-color: hsl(229, 83%, 65%);
    }
  }
}
.links__container {
  padding: 12px;
  margin-top: 24px;
  border-radius: 12px;
}
.link {
  display: inline-block;
  margin: 0 8px;

  &__icon {
    font-size: 36px;
    fill: $gray;
  }
  &__caption {
    display: none;
    padding: 8px;
    cursor: pointer;

    &:hover {
      font-weight: bold;
      transform: scale(1.5);
    }
  }
}
.link__icon:hover,
.link__caption:hover {
  color: $ultramarine;
  fill: $ultramarine;
  transition: 0.4s ease;
}
.messenger:hover {
  fill: #09f;
  color: #09f;
}
.github:hover {
  fill: #111;
  color: #111;
}
.linkedin:hover {
  fill: #0077b5;
  color: #0077b5;
}
.send__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  & span,
  & svg {
    fill: $white;
    color: $white;
  }
}

.dark {
  .contact__label {
    color: $white;
  }
  .link__icon {
    fill: $white;
    color: $white;
  }
  .messenger:hover {
    fill: #09f;
    color: #09f;
  }
  .github:hover {
    fill: #757575;
    color: #757575;
  }
  .linkedin:hover {
    fill: #0077b5;
    color: #0077b5;
  }
}

@media screen and (min-width: 700px) {
  .link__icon {
    display: none;
  }
  .link__caption {
    color: $gray;
    font-size: 1.6rem;
    display: inline-block;
  }

  .dark .link__caption:hover {
    color: $white;
  }
}
