@import url(./main.css);

#Contact {
  min-height:       100vh;
  padding-bottom:    150px;
  position:         relative;
}

.contact-title {
  padding:          30px;
  font-size:        3rem;
  margin-bottom:    100px;
  font-weight:      bold;
  text-transform:   uppercase;
}
.contact-form {
  width:            90%;
  padding:          32px;
  gap:              16px;
  border-radius:    32px;
  display:          flex;
  flex-direction:   column;
  margin:           0 auto;
  margin-bottom:    64px;
  background-color: rgba(34, 34, 34, 0.5);
}
.contact-form label {
  font-size: 1.8rem;
}
.textfield {
  width:          100%;
  padding:        12px;
  font-size:      1.4rem;
  border-radius:  12px;
  color: var(--soft-black);
}
.contact-button {
  padding:          12px;
  font-size:        1.4rem;
  border-radius:    12px;
  cursor:           pointer;
  font-weight:      bold;
  text-transform:   uppercase;
  transition:       all .2s ease;
  color:            var(--pure-white);
  background:       var(--second-color);
}
.contact-button:hover {
  color: var(--second-color);
  background-color: var(--regular-black);
}
.footer {
  bottom:             0;
  left:               0;
  right:              0;
  height:             150px;
  display:            flex;
  position:           absolute;
  align-items:        center;
  justify-content:    space-between;
  background-color:   var(--regular-black);
}
.contact-list {
  margin-left:  24px;
}
.contact-link {
  font-size:    1.8rem;
  font-weight:  bold;
}
.contact-link:hover {
  color:        var(--primary-color);
}

.footer-logo img {
  width:              100px;
  height:             100px;
  margin-right:       24px;
  border-radius:      50%;
  background-color:   var(--pure-white);
}

@media screen and (min-width: 500px) {
  .contact-form {
    width: 75%;
    max-width: 600px;
  }
}