.home__image {
  width:          75%;
  max-width:      300px;
  object-fit:     contain;
  margin-bottom:  24px;
  border-radius:  50% 50% 0 0;
}
.home__info {
  margin-bottom:  32px;
  text-align:     center;
}
.home__caption, .home__description {
  font-weight:    500;
  font-size:      1.8rem;
  color:          var(--gray);
}
.home__title {
  font-size:      3rem;
  font-weight:    500;
  margin:         4px;
  color:          var(--white);
}
.buttons__container {
  gap:              8px;
  display:          flex;
  align-items:      center;
  justify-content:  center;
}
.button {
  border-radius:  8px;
  height:         48px;
  line-height:    48px;
  width:          100px;
  font-size:      1.6rem;
  text-align:     center;
  transition:     all .4s;
}
.primary__button {
  color:            var(--white);
  background-color: var(--primary-color);
}
.second__button {
  font-weight:      600;
  line-height:      48px;
  font-size:        1.4rem;
  color:            var(--blue-inactive);
  background-color: var(--blue-active);
}
.primary__button:hover, .second__button:hover {
  color:            var(--primary-color);
  border-color:     var(--white);
  background-color: var(--white);
}