.footer__link {
  font-size:        1.6rem;
  transition:       .4s ease;
}
.footer__link:hover .footer__name {
  color:          var(--ultramarine-blue);
}
.footer__name {
  font-weight:    600;
  display:        none;
  color:          var(--ghost-white);
}
.link__icon {
  height:         48px;
  width:          48px;
  fill:           var(--ghost-white);
}
.link__icon:hover {
  fill:           var(--ultramarine-blue);
}

@media screen and (min-width: 700px) {
  .footer__name {
    display: inline-block;
    padding: 12px;
  }
  .link__icon {
    display: none;
  }
}