.footer__list {
  width:          100%;
  padding:        4px;
}
.footer__link {
  font-size:      1.6rem;
  transition:     .4s ease;
  color:          var(--ghost-white);
}
.footer__link:hover {
  color:          var(--ultramarine-blue);
}