:root {
  --ghost-white:        #F0EFF4;
  --smoky-black:        #161616;
  --oxford-blue:        #02182B;
  --space-cadet:        #21275B;
  --ultramarine-blue:   #4361EE;
}
* {
  margin:           0;
  padding:          0;
  border:           none;
  outline:          none;
  box-sizing:       border-box;
  list-style:       none;
  text-decoration:  none;
  color:          #111;
}
html {
  font-family:      'Outfit', sans-serif;
  scroll-behavior:  smooth;
  font-size:        62.5%;
}