@import './global.scss';

.main__container {
  width: 85%;
  margin: 48px;
  padding: 24px;
  min-width: 272px;
  max-width: 1200px;
  border-radius: 12px;

  background-color: var(--container);
  box-shadow: 2px 2px 8px rgba($black, 0.2);

  display: flex;
  align-items: center;
  flex-direction: column;
}