@import './global.scss';

.navbar {
  top: 0;
  left: 0;
  gap: 32px;
  width: 100%;
  height: 64px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $blue-active;
  background-color: $main-blue;

  &__icon {
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & span {
      font-size: 1.4rem;
      color: $blue-active;
    }

    &:hover svg,
    &:hover span {
      color: $primary-color;
      fill: $primary-color;
    }

    & svg {
      fill: $blue-active;
      width: 48px;
      height: 48px;
    }
  }
}
