@import './global.scss';

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  background-color: white;
  box-shadow: 0px 2px 4px rgba($black, 0.1);

  &__icon {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 4px solid transparent;

    padding: 8px;
    transition: all 400ms;

    & span {
      font-size: 1.2rem;
      color: $gray;
    }
    &:hover span,
    &:hover svg {
      color: $primary-color;
      fill: $primary-color;
    }
    &.active {
      border-bottom: 4px solid $primary-color;
    }
    & svg {
      width: 48px;
      height: 48px;
      fill: $gray;
    }
  }
}
