@import url(@styles/main.css);

.portfolio-title {
  font-size:        3rem;
  font-weight:      bold;
  text-transform:   uppercase;
}
.projects-layout {
  width:            75%;
  padding:          8px;
  border-radius:    32px;
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
  margin:           0 auto;
  background:     rgba(34,34,34, .5);
}

@media screen and (min-width: 700px) {
  .projects-layout {
    gap:              24px;
    padding:          24px;
    max-width:        1000px;
    flex-direction:   row;
    flex-wrap:        wrap;
    justify-content:  center;
    align-items:      center;
  }
}