@import './global.scss';

.portfolio__title {
  font-size: 3.2rem;
  padding-top: 32px;
  margin: 32px 0 48px;
  text-align: center;
  color: $ultramarine;
}
.portfolio__image {
  width: 100%;
  object-fit: cover;
}
.projects__grid {
  gap: 24px;
  overflow-x: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-content: center;
  place-items: center;
  align-self: stretch;
}
