@import './global.scss';

.projects__grid::-webkit-scrollbar {
  height: 8px;
  border-radius: 3px;
  background-color: $main-blue;

  &-thumb {
    background-color: $space-cadet;
    border-radius: 4px;
  }
  &-thumb:hover {
    background-color: $primary-color;
  }
}
.portfolio__title {
  font-size: 3.2rem;
  padding-top: 32px;
  margin: 32px 0 48px;
  text-align: center;
  color: $primary-color;
}
.portfolio__image {
  width: 100%;
  object-fit: cover;
}
.projects__grid {
  gap: 24px;
  overflow-x: auto;
  // padding: 0 24px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-content: center;
  place-items: center;
  align-self: stretch;
}
