@import url(@styles/main.css);

#Portfolio {
  min-height:       100vh;
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
}

.portfolio-title {
  font-size:        3rem;
  font-weight:      bold;
  text-transform:   uppercase;
}