@import url(./main.css);

.project-container {
  width:            90%;
  height:           150px;
  margin:           0 auto;
  margin-bottom:    24px;
  border-radius:    12px;
  display:          flex;
  font-weight:      bold;
  overflow:         hidden;
  align-items:      center;
  justify-content:  stretch;
  color:            var(--pure-white);
  background:       var(--soft-black);
}

.project-image {
  height:     100%;
  width:      auto;
  display:    block;

}
.project-name {
  width:      calc(100% - 150px);
  min-width: 120px;
  text-align: center;
}
.project-container:hover .project-name {
  transition: all .4s ease;
  color:      var(--primary-color);
}

@media screen and (min-width: 500px) {
  .project-container {
    width: 75%;
    height: 200px;
    max-width: 600px;
  }
  .project-image {
    width: 200px;
  }
}

@media screen and (min-width: 700px) {
  .project-container {
    width:          300px;
    height:         100%;
    flex-direction: column;
  }
  .project-name {
    width:      100%;
    padding:    12px 4px;
    display:    block;
  }
  .project-image {
    width:    300px;
    height:   300px;
  }
}