@import './global.scss';

.project {
  &__container {
    display: block;
    width: 200px;
    height: 240px;
    border-radius: 16px;
    overflow: hidden;
  }
  &__title {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $space-cadet;
    transition: 0.4s ease;

    & span {
      font-size: 1.8rem;
      color: $white;
    }
  }
  &__image {
    text-align: center;
    color: $white;
  }
  &__container:hover .project__title {
    background-color: $primary-color;
  }
}
