@import url(./main.css);

.skill-container {
  width: 70px;
  border-radius: 10px;
  background-color: var(--regular-black);
  transition: all .4s;
}
.skill-container:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.skill-container img {
  margin:         0;
  border-radius:  0;
  padding:        10px;
}